body{
    font-family: "Comic Sans MS", Helvetica, serif;
    background-color: #FFFACD;
}

.cabeçalho{
    text-align: center;

}

.conjuntoimg{
    text-align: center;
}

.texto{
    text-align: center;
}

.rodape{
   
    text-align: center;
}

.rodape2{
    text-align: center;
}

.img1{
    height: 200px;
    transition: 0.4s;
}

.img1:hover{
    height: 230px;
}

.img2{
    height: 200px;
    transition: 0,4s;
}

.img2:hover{
    height: 230px;
}

.img3{
    height: 200px;
    transition: 0,4s;
}

.img3:hover{
    height: 230px;
}

.img4{
    height: 200px;
    transition: 0,4s;
}

.img4:hover{
    height: 230px;
}