body{
    /* background-image: url(https://besthqwallpapers.com/img/original/99355/white-paper-texture-4k-white-crumpled-paper-macro-white-paper.jpg); */
    background-color: lightgrey;
    font-family: "Comic Sans MS", "Helvetica", serif
}


.SobreMim{
    margin: 4px;
    width: 50em;
    background-color:#00BFFF;
    color: black;
    text-shadow: 2px 2px rgba(35, 73, 116, 0);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    text-align: left;
    
}

.volizinho{
    text-align: left;
}

.ursinhopolar{
    height: 400px;
    transition: 0.2s;
}

.ursinhopolar:hover{
    height: 430px;
}

.hobbies{
    margin: 4px;
    width: 50em;
    background-color:#00BFFF;
    color: black;
    text-shadow: 2px 2px rgba(35, 73, 116, 0);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    text-align: left;
}

.top5{
    margin: 4px;
    width: 50em;
    background-color:#00BFFF;
    color: black;
    text-shadow: 2px 2px rgba(35, 73, 116, 0);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

.links{
    margin: 4px;
    width: 50em;
    background-color:#00BFFF;
    color: black;
    text-shadow: 2px 2px rgba(35, 73, 116, 0);
    border-radius: 8px;
}